{% extends "veterinaria/base.html" %}
{% load static %}

{% block titulo %}Detalles de la atencion{% endblock %}

{% block atenciones %}active" aria-current="page{% endblock %}

{% block contenido %}
<div class="ms-auto col-xl-11 col-md-10 col-12 ps-5 mt-md-0 mt-5 pt-md-0 pt-3">
  <div class="container m-0 p-0">
    <h1>Detalles de la atencion</h1>
    <form method="POST" action="{% url 'atencionEdit' atencion.id %}">
      {% csrf_token %}
      <div class="row">
        <div class="mb-3 col-6">
          {{ form.fecha_atencion.label_tag }}
          <input type="date" class="form-control" name="fecha_atencion"
            value="{{ form.fecha_atencion.value|date:'Y-m-d' }}">
          {{ form.fecha_atencion.errors }}
        </div>
        <div class="mb-3 col-3">
          {{ form.hora_ingreso.label_tag }}
          {{ form.hora_ingreso }}
          {{ form.hora_ingreso.errors }}
          <!-- <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div> -->
        </div>
        <div class="mb-3 col-3">
          {{ form.hora_termino.label_tag }}
          {{ form.hora_termino }}
          {{ form.hora_termino.errors }}
        </div>
      </div>
      <div class="mb-3">
        {{ form.id_mascota.label_tag }}
        {{ form.id_mascota }}
        {{ form.id_mascota.errors }}
        <!-- <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div> -->
      </div>
      <div class="mb-3">
        {{ form.agendada_por_asistente.label_tag }}
        {{ form.agendada_por_asistente }}
        {{ form.agendada_por_asistente.errors }}
        <!-- <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div> -->
      </div>
      <div class="mb-3">
        {{ form.id_veterinario.label_tag }}
        {{ form.id_veterinario }}
        {{ form.id_veterinario.errors }}
        <!-- <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div> -->
      </div>
      <div class="mb-3">
        {{ form.diagnostico.label_tag }}
        {{ form.diagnostico }}
        {{ form.diagnostico.errors }}
        <!-- <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div> -->
      </div>
      <div class="mb-3">
        {{ form.tratamiento.label_tag }}
        {{ form.tratamiento }}
        {{ form.tratamiento.errors }}
        <!-- <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div> -->
      </div>
      <div class="mb-3">
        {{ form.observaciones.label_tag }}
        {{ form.observaciones }}
        {{ form.observaciones.errors }}
        <!-- <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div> -->
      </div>
  </div>
  <div class="mb-3 text-center">
    <a type="button" class="btn btn-danger" href="/atenciones/">Cancelar</a>
    <button type="submit" class="btn btn-warning">Editar atención</button>
  </div>
</form>
</div>
{% endblock %}
