{% extends "veterinaria/base.html" %}

{% block titulo %}Catálogo atenciones{% endblock %}

{% block atenciones %}active" aria-current="page{% endblock %}

{% block contenido %}
<div class="ms-auto col-xl-11 col-md-10 col-12 ps-5 mt-md-0 mt-5 pt-md-0 pt-3">
  <div class="container m-0 p-0">
    <h3>Confirmar Eliminación de Atención</h3>
    <div class="alert alert-danger h5">
      ¿Estás seguro que deseas eliminar la atención? (Fecha: {{atenciones.fecha_atencion }} Hora: {{ atenciones.hora_ingreso }} Mascota: {{ atenciones.id_ficha_clinica.id_mascota.nombres }} Veterinario: {{ atenciones.id_veterinario.nombres }} {{atenciones.id_veterinario.apellidos }})
    </div>
    <form method="POST">
      {% csrf_token %}
      <div class="row text-center">
        <div class="col">
          <a class="btn btn-secondary" href="{% url 'atenciones' %}">Cancelar</a>
        </div>
        <div class="col">
          <button class="btn btn-danger" type="submit">
            Confirmar Eliminación
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
{% endblock %}