<!DOCTYPE html>
{% load static %}
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
    {% block link %}{% endblock %}
    <title>{% block titulo %}Clínica veterinaria{% endblock %}</title>
  </head>
  <body data-bs-theme="dark">
    <div class="container-fluid m-0 p-0">
      <div class="row">
        <div class="col-xl-1 col-md-2 fixed-top col-12 d-inline-block m-0 p-0">
          <nav class="navbar navbar-expand-md bg-body-tertiary h-100">
            <div class="container-fluid">
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse vh-100 sticky-md-top" id="navbarNav">
                <ul class="nav nav-pills flex-column w-100">
                  <li class="nav-item">
                    <a class="nav-link {% block inicio %}{% endblock %}" href="{% url 'inicio' %}">Inicio</a>
                  </li>
                  <!-- active" aria-current="page -->
                  <li class="nav-item">
                    <a class="nav-link {% block fichas %}{% endblock %} {% if not perms.veterinaria.view_fichaclinica %}
                    text-decoration-line-through fw-lighter
                    {% endif %}" href="{% url 'fichas' %}">Fichas</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link {% block atenciones %}{% endblock %} {% if not perms.veterinaria.view_atencion %}
                    text-decoration-line-through fw-lighter
                    {% endif %}" href="{% url 'atenciones' %}">Atenciones</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link {% block clientes %}{% endblock %} {% if not perms.veterinaria.view_cliente %}
                    text-decoration-line-through fw-lighter
                    {% endif %}" href="{% url 'clientes' %}">Clientes</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link {% block razas %}{% endblock %} {% if not perms.veterinaria.view_raza %}
                    text-decoration-line-through fw-lighter
                    {% endif %}" href="{% url 'razas' %}">Razas</a>
                  </li>

                  <li class="nav-item">
                    <a class="nav-link {% block reservas %}{% endblock %} {% if not perms.veterinaria.view_atencion %}
                    text-decoration-line-through fw-lighter
                    {% endif %}" href="{% url 'reservas' %}">Reservar</a>
                  </li>
                
                
                  <hr class="border border-primary border-2 opacity-75">
                  {% if user.is_authenticated %}
                  <li class="nav-item">
                    <a class="nav-link" href="#">Bienvenid@ {{ user.first_name }}</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Usuario: {{ user.username }}</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'logout' %}">Cerrar Sesión</a>
                  </li>
                  {% else %}
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'login' %}">Iniciar Sesión</a>
                  </li>
                  {% endif%}
                </ul>
              </div>
            </div>
          </nav>
        </div>
      </div>
    </div>
    {% block contenido %}{% endblock %}
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    {% block scripts %}{% endblock %}
  </body>
</html>
