{% extends "veterinaria/base.html" %}

{% load static %}

{% block titulo %}Cliente{% endblock %}

{% block clientes %}active" aria-current="page{% endblock %}

{% block contenido %}    
<div class="ms-auto col-xl-11 col-md-10 col-12 ps-5 mt-md-0 mt-5 pt-md-0 pt-3">
  <div class="container m-0 p-0">
    <h2>Editar datos del cliente</h2>
        <form method="POST" action="{% url 'clienteEdit' cliente.id %}">
            {% csrf_token %}
            <div>
              <div class="mb-3">
                {{ form.rut.label_tag  }}
                {{ form.rut }}
                {{ form.rut.errors }}
                <!-- <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div> -->
              </div>
              <div class="mb-3">
                {{ form.nombres.label_tag  }}
                {{ form.nombres }}
                {{ form.nombres.errors }}
                <!-- <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div> -->
              </div>
              <div class="mb-3">
                {{ form.apellidos.label_tag  }}
                {{ form.apellidos }}
                {{ form.apellidos.errors }}
                <!-- <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div> -->
              </div>
              <div class="mb-3">
                {{ form.fono_1.label_tag  }}
                {{ form.fono_1 }}
                {{ form.fono_1.errors }}
                <!-- <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div> -->
              </div>
              <div class="mb-3">
                {{ form.fono_2.label_tag  }}
                {{ form.fono_2 }}
                {{ form.fono_2.errors }}
                <!-- <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div> -->
              </div>
              <div class="mb-3">
                {{ form.email.label_tag  }}
                {{ form.email }}
                {{ form.email.errors }}
                <!-- <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div> -->
              </div>
          </div>
          <div class="mb-3 text-center">
            <button type="button" class="btn btn-danger" onclick="window.location.href = '{% url 'clienteDel' cliente.id %}';">Eliminar cliente</button>
            <button type="submit" class="btn btn-warning">Editar cliente</button>
          </div>          
        </form>
    </div>
</div>
{% endblock %}