{% extends "veterinaria/base.html" %}

{% block titulo %} Fichas clinicas {% endblock %}

{% block fichas %}active" aria-current="page{% endblock %}

{% block contenido %}
<div class="ms-auto col-xl-11 col-md-10 col-12 ps-5 mt-md-0 mt-5 pt-md-0 pt-3">
  <div class="container m-0 p-0">
    <h1>Ficha clinica</h1>
    <form method="POST" action="{% url 'fichaEdit' ficha_clinica.id %}" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="row mt-5">
            
            <div class="col-4">
                <div class="row">
                    <div class="mb-3">
                        <div class="text-center">
                            <img src="{{form.imagen.value.url}}" alt="foto de mascota" width="210">
                        </div>
                        <div>
                            {{ form.imagen }}
                            {{ form.imagen.errors }}
                        </div>
                        
                        <!-- <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div> -->
                    </div> 
                </div>
            </div>

            <div class="col offset-1">
                <div class="mb-3">
                    {{ form.nombre_mascota.label_tag }}
                    {{ form.nombre_mascota }}
                    {{ form.nombre_mascota.errors }}
                    <!-- <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div> -->
                </div>
                <div class="mb-3">
                    {{ form.num_chip.label_tag }}
                    {{ form.num_chip }}
                    {{ form.num_chip.errors }}
                    <!-- <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div> -->
                </div>
                <div class="mb-3">
                    {{ form.edad_meses.label_tag }}
                    {{ form.edad_meses }}
                    {{ form.edad_meses.errors }}
                    <!-- <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div> -->
                </div>
                <div class="mb-3">
                    {{ form.sexo.label_tag }}
                    {{ form.sexo }}
                    {{ form.sexo.errors }}
                    <!-- <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div> -->
                </div>
            </div>
            
        </div>

        <div class="mb-3 text-center">
            <button type="button" class="btn btn-danger" onclick="window.location.href = '{% url 'fichaDel' ficha_clinica.id %}';">Eliminar ficha</button>
            <button type="submit" class="btn btn-warning">Editar ficha</button>
        </div>
    </form>
</div>
{% endblock %}