{% extends "veterinaria/base.html" %}
{% load static %}

{% block titulo %}Catálogo atenciones{% endblock %}

{% block inicio %}active" aria-current="page{% endblock %}

{% block contenido %}
<div class="ms-auto col-xl-11 col-md-10 col-12">
  <div class="container m-4 p-0">
    <h1>Clínica veterinaria</h1>
    <div class="container d-flex justify-content-around m-5">

      <div class="card" style="width: 18rem;">
        <img src="../../static/images/mantenedor-cliente.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Mantenedor clientes</h5>
          <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Officia, repellat aperiam!</p>
          <a href="{% url 'clientes' %}" class="btn btn-primary">Ir al mantenedor</a>
        </div>
      </div>

      <div class="card" style="width: 18rem;">
        <img src="../../static/images/mantenedor-atenciones.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Historial de atenciones</h5>
          <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Officia, repellat aperiam!</p>
          <a href="{% url 'atenciones' %}" class="btn btn-primary">Ir a atenciones</a>
        </div>
      </div>

      <div class="card" style="width: 18rem;">
        <img src="../../static/images/mantenedor-mascotas.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Fichas clinicas</h5>
          <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Officia, repellat aperiam!</p>
          <a href="{% url 'fichas' %}" class="btn btn-primary">Ir al mantenedor</a>
        </div>
      </div> 
    </div>
  </div>
</div>
{% endblock %}


